$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

.img-l-raduis {
  border-radius: 24px 0 0 24px;
}

.img-r-raduis {
  border-radius: 0 24px 24px 0;
}

.icon-size {
  width: 20px;
  height: 20px;
}

.mb-300 {
  margin-bottom: 300px;
}

.mt-300 {
  margin-top: 300px;
}

.pb-700 {
  padding-bottom: 700px;
}

.mt-flexible {
  margin-top: 0px;
}

@media (min-width: 767px) {
  .mt-flexible {
    margin-top: 500px;
  }
}
