<div class="border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid py-3">
        <div class="d-flex align-items-center w-100">
          <a class="navbar-brand" href="index.html">
            <img src="../assets/images/logo.svg" alt="logo" />
          </a>
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item me-3">
                <a
                  class="nav-link text-dark px-3 py-2"
                  aria-current="page"
                  href="service.html"
                  >服務方案</a
                >
              </li>
              <li class="nav-item me-3">
                <a class="nav-link text-dark px-3 py-2" href="about.html"
                  >關於職旅</a
                >
              </li>
              <li class="nav-item me-2">
                <a class="nav-link text-dark px-3 py-2" href="contact.html"
                  >聯絡我們</a
                >
              </li>
            </ul>
          </div>

          <div class="ms-auto">
            <button
              type="button"
              class="btn rounded-4 btn-outline-color align-bottom py-2 me-3 text-center"
            >
              <a
                href="#"
                class=""
                data-bs-toggle="modal"
                data-bs-target="#login"
                >登入</a
              >
              <span>/</span>
              <a href="#" data-bs-toggle="modal" data-bs-target="#register"
                >註冊</a
              >
            </button>
            <%- include('./layout/login'); -%> <%-
            include('./layout/register');-%>
          </div>

          <div class="dropdown d-md-none">
            <button
              class="btn"
              type="button"
              id="dropdownMenuNav"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="material-icons-outlined"> menu </span>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end mt-2 rounded-2 text-center"
              aria-labelledby="dropdownMenuNav"
            >
              <li><a class="dropdown-item" href="service.html">服務方案</a></li>
              <li><a class="dropdown-item" href="about.html">關於職旅</a></li>
              <li><a class="dropdown-item" href="contact.html">聯絡我們</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
