<!--register Modal -->
<div
  class="modal modal-xl fade"
  id="register"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="row">
        <div
          class="col-12 col-xl-5 p-5 pt-lg-6 pb-lg-0 w-xl-100 h-100 mb-xl-0 mb-7"
        >
          <div class="position-relative">
            <button
              type="button"
              class="btn-close position-absolute top-0 start-100 translate-middle"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
            <h2 class="fs-4 text-center mb-5 mb-xl-6">註冊</h2>
            <div class="pb-5 border-bottom">
              <button
                type="button"
                class="btn text-center border rounded-3 w-100 py-2 mb-4"
              >
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    src="../assets/images/icons/google.png"
                    alt="google-icon"
                    class="icon-size"
                  />
                  <p class="fs-6">Google</p>
                </div>
              </button>

              <button
                type="button"
                class="btn text-center border rounded-3 w-100"
              >
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    src="../assets/images/icons/discord.png"
                    alt="discord-icon"
                    class="icon-size"
                  />
                  <p class="fs-6">discord</p>
                </div>
              </button>
            </div>

            <div class="py-5">
              <div class="form-floating mb-4">
                <input
                  type="text"
                  class="form-control rounded-2"
                  id="floatingName"
                  placeholder="name"
                />
                <label for="floatingName">姓名</label>
              </div>
              <div class="form-floating mb-4">
                <input
                  type="email"
                  class="form-control rounded-2"
                  id="floatingEmail"
                  placeholder="email"
                />
                <label for="floatingEmail">信箱</label>
              </div>

              <div class="form-floating mb-4">
                <input
                  type="password"
                  class="form-control rounded-2"
                  id="floatingPassword"
                  placeholder="password"
                />
                <label for="floatingPassword">密碼</label>
              </div>

              <div class="form-floating mb-4">
                <input
                  type="password"
                  class="form-control rounded-2"
                  id="floatingPasswordAgain"
                  placeholder="passwordAgain"
                />
                <label for="floatingPasswordAgain">確認密碼</label>
              </div>

              <div class="form-check me-4 mb-4">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="agree-register"
                  id="agree-register"
                />
                <label class="form-check-label" for="agree-register">
                  我同意
                  <a href="#" class="link-primary">服務條款</a> 和
                  <a href="#" class="link-primary">隱私政策</a>
                </label>
              </div>
              <button
                type="button"
                class="btn btn-dark rounded-4 btn-outline-color align-bottom py-2 text-center w-100"
              >
                送出
                <span class="material-icons-outlined align-bottom">
                  keyboard_arrow_right
                </span>
              </button>
            </div>
            <p class="text-natural-50 text-center">
              不是會員？
              <a class="link-primary" href="#">快速註冊</a>
            </p>
          </div>
        </div>
        <div class="d-none d-xl-flex col-xl-7">
          <img
            src="../assets/images/about/register.png"
            alt=""
            class="img-r-raduis d-block ms-auto"
          />
        </div>
      </div>
    </div>
  </div>
</div>
