.header-banner {
  background-image: url(../images/service/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 48px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .header-banner {
    padding: 80px 0;
    background-image: url(../images/service/banner-bg-pc.png);
  }
}

.index-about-row {
  margin-right: calc(-50vw + 50% + 24px);
  .card {
    width: 320px;
  }
}
