.index-title {
  font-size: 32px;
}

@media (min-width: 678px) {
  .index-title {
    font-size: 64px;
  }
}
@media (min-width: 992px) {
  .index-title {
    font-size: 84px;
  }
}

.index-second-title {
  font-size: 32px;
}

@media (min-width: 992px) {
  .index-second-title {
    font-size: 48px;
  }
}

.half-right-row {
  margin-right: calc(-50vw + 50% + 24px);
}

.offset-column-top {
  transform: translateY(100px);
}

@media (min-width: 992px) {
  .offset-column-top {
    transform: translateY(200px);
  }
}

.mb-32 {
  margin-bottom: 32px;
}
.d-inline-block {
  display: inline-block;
}
.fw-900 {
  font-weight: 900;
}
.fw-600 {
  font-weight: 600;
}
.gray-600 {
  color: #6c757d;
}

.swiper {
  overflow: visible;
  overflow-x: clip;
}

.swiper a {
  font-size: 20px;
  line-height: 2;
  color: #569573;
  text-decoration: none;
  font-weight: 700;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.swiper-pagination {
  width: 232px;
  position: relative;
}
.swiper-pagination::after {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #6c757d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-prev:hover {
  background-color: #6c757d;
}
.swiper-button-disabled {
  color: #dee2e6;
  border-color: #dee2e6 !important;
}
.swiper-button-disabled:hover {
  cursor: default;
  background-color: initial !important;
}
.swiper-next:hover {
  background-color: #6c757d;
  color: #dee2e6;
}
.only-staff {
  background: #e8e3da;
}

@media (max-width: 768px) {
  .swiper-slide img {
    height: 400px;
  }
}

.index-choice {
  padding-top: 200px;
}

.card-custom {
  width: 306px;
  height: 391px;
  padding-top: 64px;
  padding-bottom: 48px;
  img {
    width: 160px;
    height: 160px;
  }
}

.bg-confuse {
  background-image: url("/assets/images/index/bg-grid.png");
}

.qa-img-size {
  width: 400px;
  height: 400px;
}
